// body {
//   background-color: blue;
// }
.js-input {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  height: 40px;
  width: 300px;
  border-color: blue;
  border-width: 4px;
}
img {
  max-width: 400px;
  display: block;
  height: auto;
}
.card {
  position: relative;
}
.card-image {
  position: absolute;
  top: 80px;
  right: 350px;
  border: 1px solid black;
}
.card-title {
  text-align: center;
  font-size: 50px;
}
.card-desctiption_el {
  font-weight: 700;
  font-size: 25px;
}
.card-description {
  margin-left: 350px;
}
.js-countries-list_el {
  cursor: pointer;
}
.js-countries-list_el:hover {
  color: rgb(109, 47, 255);
}
.card-desctiption_el {
  width: 250px;
}
